/* здесь используйте глобальные переменные */
$white: #FFFFFF;
$black: #000000;
$green: #68B738;
$green-active: #5EAA2F;
$grey: #F2F2F2;
$dark-grey: #444444;
$dark-grey2: #222222;
$stroke-grey: #E7E7E7;
$stroke-grey2: #EBEBEB;
