/* здесь используйте глобальные переменные */
$white: #ffffff;
$black: #000000;
$green: #68b738;
$green-active: #5eaa2f;
$grey: #f2f2f2;
$dark-grey: #444444;
$dark-grey2: #222222;
$stroke-grey: #e7e7e7;
$stroke-grey2: #ebebeb;
