.button-burger {
  // display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-image: url("../../images/icons/stack.svg#burger-button");
  border: none;
  background-color: transparent;
}
