.copyright {
  padding-top: 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.copyright__logo {
  color: $main-text;
  font-family: $primary-font;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    flex-shrink: 0;
    mask-image: url("../../images/icons/stack.svg#html-academy");
    background-color: $main-text;
  }

  &:hover {
    &::after {
      background-color: $main-color;
    }
  }

  &:focus {
    &::after {
      background-color: $main-color;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-color: $main-color;
    }
  }

  @media (min-width: $tablet) {
    gap: 23px;
  }
}
