.description-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    padding-bottom: 4px;
    border-bottom: 1px solid $border-extra;

    &:not(:first-of-type) {
      padding-top: 7px;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 5px;
  }
}
