.extra-card {
  padding-top: 13px;
  padding-bottom: 19px;
  border-bottom: 1px solid $border-extra;

  @media (min-width: $tablet) {
    padding-top: 26px;
    padding-bottom: 29px;
    border: none;
  }

  @media (min-width: $desktop) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid $border-extra;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}

.extra-card__content {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-content: center;
  }
}

.extra-card__title {
  color: $second-text;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.extra-card__description {
  text-align: center;
  line-height: 14px;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    line-height: 20px;
    display: grid;
    grid-template-columns: auto 94px;
    justify-items: end;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 3fr 1fr;
    justify-items: start;
    margin: 0;
    align-content: center;
  }
}

.extra-card__button {
  @media (min-width: $desktop) {
    width: 244px;
  }
}
