.extra-card__title {
  color: $second-text;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.extra-card__description {
  text-align: center;
  line-height: 14px;
}
