.footer {
  background-color: $main-bg;
  // height: 240px;
  padding: 38px 20px 40px;

  @media (min-width: $tablet) {
    // height: 147px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 57px 30px;
  }

  @media (min-width: $desktop) {
    // height: 169px;
    padding: 66px 110px;
  }
}

.footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid $border-extra3;
  display: flex;
  width: 100%;
  justify-content: center;

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
    width: auto;
  }
}

.footer__social {
  border-bottom: 1px solid $border-extra3;

  @media (min-width: $tablet) {
    border: none;
  }
}
