.logo {
  &:hover:not([aria-current]) {
    opacity: 0.8;
  }

  &:focus:not([aria-current]) {
    opacity: 0.8;
  }

  &:active:not([aria-current]) {
    opacity: 0.6;
  }
}

.logo__icon {
  display: flex;
  width: 33px;
  height: 38px;

  @media (min-width: $tablet) {
    width: 60px;
    height: 50px;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: 59px;
  }
}

.logo__text--header {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  width: 101px;
  height: 18px;

  @media (min-width: $desktop) {
    width: 118px;
    height: 21px;
  }
}

.logo__text--footer {
  width: 128px;
  height: 24px;
}
