.main-catalog__list {
  @include list;

  @media (min-width: $tablet) {
    @include padding-sides;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: end;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 62px;
  }
}
