.menu {
  @include list;

  @media (min-width: $tablet) {
    display: flex;
    gap: 33px;
    margin-right: 3px;
    margin-top: 3px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    justify-content: flex-end;
    margin-right: 0;
    margin-top: 7px;
  }
}

.menu__item {
  border-top: 1px solid $border-extra2;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
    height: auto;
  }
}

.menu__link {
  color: $black;
  font-family: $titles-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--active {
    position: relative;

    @media (min-width: $tablet) {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -8px;
        left: 0;
        height: 2px;
        background: $main-color;
      }
    }
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 20px;
  }
}

.menu__link--index {
  @media (min-width: $desktop) {
    color: $white;
  }
}

.menu__link--index.menu__link--active {
  @media (min-width: $desktop) {
    &::after {
      background: $white;
    }
  }
}
