.menu {
  @include list;

  @media (min-width: $tablet) {
    display: flex;
    gap: 33px;
    align-items: center;
  }
}

.menu__item {
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet) {
    border: none;
    height: auto;
  }
}

.menu__link {
  // height: 66px;
  // padding-top: 22px;
  color: $black;
  font-family: $titles-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      height: 2px;
      background: $main-color;
    }
  }
}
