.options-card {
  background-color: $main-bg;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 18px;

  @media (min-width: $tablet) {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 77px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop) {
    padding-right: 61px;
    padding-bottom: 55px;
    flex-basis: 0;
    flex-grow: 1;
  }
}

.options-card--slim {
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 53px;
    flex-shrink: 0;
    z-index: 1;
    position: absolute;
    top: 21px;
    left: 20px;
    background-image: url("../../images/icons/stack.svg#cat-sits");

    @media (min-width: $tablet) {
      width: 200px;
      height: 211px;
      top: 81px;
      right: 63px;
      left: auto;
    }

    @media (min-width: $desktop) {
      width: 100px;
      height: 106px;
      top: 41px;
      right: auto;
      left: 52px;
    }
  }
}

.options-card--fat {
  &::after {
    content: "";
    display: block;
    width: 67px;
    height: 50px;
    flex-shrink: 0;
    z-index: 1;
    position: absolute;
    top: 24px;
    left: 13px;
    background-image: url("../../images/icons/stack.svg#cat-walks");

    @media (min-width: $tablet) {
      width: 268px;
      height: 200px;
      top: 91px;
      right: 29px;
      left: auto;
    }

    @media (min-width: $desktop) {
      width: 134px;
      height: 100px;
      top: 47px;
      right: auto;
      left: 33px;
    }
  }
}

.options-card__title {
  color: $black;
  font-family: $titles-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    padding-right: 230px;
  }

  @media (min-width: $desktop) {
    margin-left: 162px;
    margin-bottom: 73px;
    padding-right: 8px;
  }
}

.options-card__content {
  padding-bottom: 23px;
  padding-right: 13px;
  border-bottom: 1px solid $border-extra3;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    border-bottom: none;
    margin-bottom: 25px;
    width: 58%;
    color: $black;
  }

  @media (min-width: $desktop) {
    border-bottom: none;
    margin-bottom: 0;
    width: 100%;
    padding-right: 0;
  }
}

.options-card__link {
  color: $black;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 4px;
  display: flex;
  gap: 15px;
  align-items: center;
  width: fit-content;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 10px;
    flex-shrink: 0;
    background-image: url("../../images/icons/stack.svg#arrow-right");
  }

  &:active {
    opacity: 0.3;

    &::after {
      width: 32px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: normal;
    gap: 25px;
    padding-top: 4px;
  }
}

.options-card__link:hover::after {
  width: 32px;
}
