.options {
  @include padding-sides;
}

.options__list {
  @include list;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    gap: 80px;
    flex-wrap: wrap;
  }
}

.options__item {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 71px;
  }
}
