.page__body {
  margin: 0;
  font-family: $primary-font;
  color: $main-text;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 50%;
      height: 694px;
      z-index: -1;
      background-color: #4e4d52;
      background-image:
        linear-gradient(to left, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        image-set(
          ("../../images/index-background-cat-desktop@1x.png") 1x,
          ("../../images/index-background-cat-desktop@2x.png") 2x);
      background-repeat: no-repeat;
      background-position: left top;
    }
  }
}
