.product-card__title {
  color: $dark-grey2;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__description {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button--more {
  background-color: $grey;
  color: $dark-grey;
}
