.product-card__title {
  color: $second-text;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product-card__title--more {
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../../images/icons/stack.svg#plus");
  }
}

.product-card__description {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.product-card__button--more {
  background-color: $main-bg;
  color: $main-text;
}
