.promo {
  height: 290px;
  background: $main-color url("../../images/catalog-background-mobile@2x.png") no-repeat;
  background-size: cover;
}

.promo__content {
  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    flex-shrink: 0;
    background-image: url("../../images/icons/stack.svg#gift");
  }
}
