.result__value {
  color: #000000;
  text-align: center;
  font-family: $titles-font;
  font-size: 24px;
  line-height: 24px;
}

.result__description {
  // color: $dark-grey;
  text-align: center;
  // font-family: $primary-font;
  font-size: 12px;
  line-height: 100%;
}
