.section__item {
  color: $main-text;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.section__input {
  color: $main-text;
  font-family: $titles-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.section__title {
  color: $black;
  font-family: $titles-font;
  font-size: 24px;
  line-height: 26px;
}
