.slider {
  position: relative;
}

.slider__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 280px;
  margin: auto;

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.slider__image-wrapper {
  width: 140px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    width: 280px;
  }
}

.slider__image-wrapper--slim {
  justify-content: flex-end;
}

.slider__image {
  height: 100%;
  max-width: none;
  display: block;
}

.slider__button {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #666666;
  border-radius: 50%;
  background-color: $white;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#thumb");
    background-color: #666666;
    transform: translateY(9px);

  }

  &::after {
    content: "";
    display: block;
    margin: auto;
    width: 4px;
    height: 256px;
    transform: translateY(-50%);
    border-radius: 2px;
    background: #666666;

    @media (min-width: $tablet) {
      height: 512px;
    }
  }

  &:hover {
    border-color: $main-color;

    &::before {
      background-color: $main-color;
    }

    &::after {
      background-color: $main-color;
    }
  }

  &:active {
    opacity: 0.6;
    border-color: $main-color-active;

    &::before {
      background-color: $main-color-active;
    }

    &::after {
      background-color: $main-color-active;
    }
  }
}
