.slider {
  position: relative;
}

.slider__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 280px;
  margin: auto;

  @media (min-width: $tablet) {
    width: 560px;
  }
}

.slider__image-wrapper {
  width: 140px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;

  @media (min-width: $tablet) {
    width: 280px;
  }
}

.slider__image-wrapper--slim {
  justify-content: flex-end;
}

.slider__image {
  width: 280px;
  height: 256px;
  display: block;

  @media (min-width: $tablet) {
    width: 560px;
    height: 512px;
  }
}

.slider__toggle {
  position: absolute;
  top: 0;
  left: 50%;
}

.slider__button {
  width: 4px;
  height: 256px;
  border-radius: 2px;
  border: 0;
  padding: 0;
  background: $background2;

  @media (min-width: $tablet) {
    height: 512px;
  }

  &::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid $background2;
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    mask-image: url("../../images/icons/stack.svg#thumb");
    background-color: $background2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover:not(.disabled) {
    background: $main-color;

    &::before {
      border-color: $main-color;
    }

    &::after {
      background-color: $main-color;
    }
  }

  &:active:not(.disabled) {
    opacity: 0.6;
    background: $main-color-active;


    &::before {
      opacity: 0.6;
      border-color: $main-color-active;
    }

    &::after {
      opacity: 0.6;
      background-color: $main-color-active;
    }
  }
}
