.social {
  @include list;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  flex-shrink: 0;
  background-color: #666666;

  &--vk {
    mask-image: url("../../images/icons/stack.svg#vkontakte");
  }

  &--youtube {
    mask-image: url("../../images/icons/stack.svg#youtube");
  }

  &--telegram {
    mask-image: url("../../images/icons/stack.svg#telegram");
  }

  &:hover {
    background-color: $main-color;
  }

  &:focus {
    background-color: $main-color;
  }

  &:active {
    background-color: $main-color;
    opacity: 0.3;
  }
}
