.social {
  @include list;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;

  @media (min-width: $tablet) {
    padding: 0;
    padding-left: 36px;
  }
}

.social__link {
  &::after {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    background-color: $background2;
  }

  &--vk {
    &::after {
      mask-image: url("../../images/icons/stack.svg#vkontakte");
    }
  }

  &--youtube {
    &::after {
      mask-image: url("../../images/icons/stack.svg#youtube");
    }
  }

  &--telegram {
    &::after {
      mask-image: url("../../images/icons/stack.svg#telegram");
    }
  }

  &:hover:not(.disabled) {
    &::after {
      background-color: $main-color;
    }
  }

  &:focus:not(.disabled) {
    &::after {
      background-color: $main-color;
    }
  }

  &:active:not(.disabled) {
    &::after {
      background-color: $main-color;
      opacity: 0.3;
    }
  }
}
