.stats {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    gap: 55px;
    align-items: flex-start;
  }
}

.stats__list {
  @include list;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    gap: 43px;
  }
}

.stats__item {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
